body {
    background-color: #f7f7f7;  // Off White
}

body > .container {
    margin-top: 60px;
    margin-bottom: 40px;
}
a {
    color: #555;
    text-decoration: none;
}
.nav-item img {
    max-height: 44px;
}

.top-margin-40 {
    margin-top: 40px;
}

// Footer
footer {
    // background-color: #dbdbdb;
    background-image: linear-gradient(45deg, #dbdbdb, #c0c0c0);
    padding-bottom: 40px;
    border-top: 1px solid #fff;
}

@media screen and (max-width:768px) {
    .w-100-mobile { width:100% }
    .has-text-centered-mobile{ text-align:center }
}

// Nav Menus
#nav-menu {
    font-size: 120%;
    .button {
        font-size: 90%;
    }
}
.menu {
    display: flex;
    position: relative;
    .menu-item {
        position: relative;
        vertical-align: baseline;
        &:not(:first-child) {
            margin-left: 20px;
        }
        a {
            // display: block;
            // padding: 8px 0;
            // margin-bottom: 10px;
            // font-size: 20px;
            // font-weight: 600;
            // text-transform: uppercase;
            &:hover {
                color: $primary;
            }
        }
    }
    .dropdown {
            // visibility: hidden;
            // position: absolute;
            // top: 32px;
            // left: 0;
            // background-color: $dropdown-menu-background;
            visibility: hidden;
            // display: none;
            position: absolute;
            top: 62px;
            width: 150%;
            padding: 8px;
            right: 0;
            text-align: left;
            // font-size: 120%;
            // font-weight: 400%;
            background-color: #fff;
            border: 1px solid $dropdown-border;
            &:before {
                    border: 1px solid $dropdown-border;
                    border-left: 0;
                    border-bottom: 0;
                    content: " ";
                    display: block;
                    height: 11px;
                    pointer-events: none;
                    position: absolute;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    width: 11px;
                    background: #fff;
                    top: -6px;
                    right: 23px;
            }
            .menu-item {
                margin: 0;
                padding: .5em 0;
                a { 
                    padding-left: 4px;
                }
                &:hover {
                    color: $primary;
                } 
            }
            .spacer {
                width: 100%;
                padding: 4px;
                border-bottom: 1px dashed $dropdown-border; 
            }
    }
    &:hover .dropdown {
            visibility: visible;
            // display: block;
    }
    .is-active .dropdown {
        visibility: visible;
    }
}